<div class="d-flex align-items-center justify-content-between py-5 px-3 border rounded border-primary my-4">
    <h1>Schedule a Tweets</h1>
</div>

<%= render "form", tweet: @tweet %>

<p><%= Time.current.localtime %></p>